.dtpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dtpopup-inner {
    border-radius: 12px;
    justify-content: center;
    width: 1%;
    background-color: #FFFBFB;
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
}


.dttitle {
    margin-left: 30%;
}

.dttitle-2 {
    padding-bottom: .25%;
    /* padding-left: 11%; */
    padding-top: 2%;
    font-size: x-large;
}

.dtbutton {
    margin: 5%;
    display: inline-block;    
    border-radius: 66px;
    width: 30%;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 24px;
    border: 0;
    color: #FFFBFB;
    background: #CCA19A;
    line-height: 1.15;
    font-size: 16px;
}

.dtbutton:hover {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 24px;
    border: 0;
    color: #FFFBFB;
    background: #CCA19A;
    line-height: 1.15;
    font-size: 16px;
    transition: all .1s ease;
    box-shadow: 0 0 0 0 blue, 0 0 0 3px #CCA19A;
}

.dtbutton-container {
    display: flex;
    flex-direction: row;
    margin-left: 16%;
    /* justify-content: space-between; */
}