@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
.google-form{
    position: flex;
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    padding: 1em;
    border-radius: 10px;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 1em;
    background-color: #DEDFEC;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.google-form-desc{
    padding-bottom: 5%;
}
.google-form-title{
    font-weight: bolder;
    text-align: center;
    padding-right: 15%;
    padding-bottom: 3%;
}
.google-form-button{
    float: right;
}

#login-card {
    position: absolute;
    width: 571px;
    height: 500px;
    left: 435px;
    top: 236px;

    background-color: #DEDFEC;
    border: 1px solid #c1c1c1;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    padding: 1em;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #17150E;
}

#login-button {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #17150E;
    
    margin: 50px 0px 0px, 0px;
    width: 208px;
    height: 55px;
    left: 591px;
    top: 569px;

    background: #CCA19A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    border: 0px;
}

#login-button:hover {
    font-weight: normal;
}