@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

.accordion-top {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: #DEDFEC;
    border-radius: 12px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding:2%;
}

.peak-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.summit-btn {
    width:105%;
    margin-left: 20%;
}

.trip-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 7%;
}


.accordion-bottom {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background: #DEDFEC;
    border-radius: 12px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding:2%;
}

.trip-reports-title {
text-align: center;
text-decoration: underline;
font-size: 20px;
}