/* @import url('https://fonts.googleapis.com/css?family=Montserrat:100');
if you want the font to be thicker, add ",200" 
or any other measure behind the ":100" in the url above */

/* example for styling with this font:
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
} */

#main {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    

}

#container-right {
    background-color: #504C54;
    width: 60%;
    background-image: url("../stylesheets/test.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

#container-left {
    background-color: #504C54;
    width: 40%

}


li {
    box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
    list-style-type: none;
    background-color: white;
    margin: 10px 0;
}

.trips {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.my-summit-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-summit-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    padding-left: 10%;
    padding-top: 5%;
    color: #FFFFFF;
}