@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

/* Desktop */
#navigation {
    width: 100%;

    background: #CCA19A;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    color: #FFFFFF;
}

#navbar-title {
    display: flex;
    justify-content: space-between;
}

#navbar-links {
    padding-right: 2%;
}

.title-bar {
    margin-top: 1%;
    display: flex;
    align-items: center;
}

#page-title {
    font-weight: bold;
    font-size: 3em;
    line-height: .75em;
}

#subtitle {
    font-size: .5em;
}

.item {
    display: flex;
    margin: 10px;
    font-size: 1.5em;
}

.item:hover {
    text-decoration: underline;
}

#home-nav-link {
    color: #FFFFFF;
}

#profile-nav-link {
    color: #FFFFFF;
}

#logout-nav-link {
    color: #FFFFFF;
}

#login-nav-link {
    color: #FFFFFF;
}

/* Mobile */
@media only screen and (max-width: 1100px) {
    
    #navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .nav-item {
        display: block;
        padding: 15px 5px;
        width: 100%;
        text-align: center;
        font-size: 1em;
    }

    .title-bar {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .navbar-links {
        justify-content: center;
    }

    #page-title {
        font-weight: bold;
        font-size: 2em;
        line-height: 1.1em;
    }

    #subtitle {
        font-size: .5em;
        line-height: .25em;
    }
}